services:
  scatola-magica:
    image: ghcr.io/fccview/scatola-magica:latest
    container_name: scatola-magica
    user: "1000:1000"
    ports:
      - "1133:3000"
    volumes:
      - ./uploads:/app/data/uploads:rw
      - ./config:/app/data/config:rw
      - ./cache:/app/.next/cache:rw
    restart: unless-stopped
    environment:
      - NODE_ENV=development
      - MAX_CHUNK_SIZE=104857600
      - PARALLEL_UPLOADS=12
      - MAX_FILE_SIZE=0

      # Do not change this if you use docker.
      - UPLOAD_DIR=/app/data/uploads
